@using System.Security.Principal



@if (ViewData["name"] != null)
{
    <ul class="nav navbar-nav navbar-right">
        <li class="navbar-text">Hello @ViewData["name"]!</li>
       
    </ul>
    }
} 

